

.content {
  display: flex;
  flex-wrap: wrap;
}

.container-item {
  width: 250px;
  border: 1px solid #cacaca;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.container-item img {
  width: 150px;
  height: 150px;
}
.container-item h3, p {
  color: #f4f2ee;
}
.container-item h3 {
  margin-top: 1rem;
}
.container-item .buttons {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.75rem;
  
}