#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body, input {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #151515;
  color: white;
}

.container-form {
  padding: 2rem;
  background: #202020;
  border-radius: 12px;

}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;

  margin-top: 2.6rem;
}

.content-form {
  display: flex;
  gap: 2rem;

}

fieldset {
  flex: 1;
  border: none;
}

.content-form input {
  width: 100%;
  border-radius: 8px;
  background: #353535;
  border: none;
  margin-top: .5rem;
  padding: 0.875rem;
}

.content-form input::placeholder {
  font-size: 1rem;
}

.button {
  display: flex;
  justify-content: right;
}

.button > input {
  text-transform: uppercase;
  background: #36CE7C;
  font-size: 1rem;
  color: white;
  padding: 1rem 4rem;
  border: none;
  border-radius: 8px;
  margin-top: 1.5rem;
  transition: all 0.2s;

  cursor: pointer;
}

.button input:hover {
  filter: brightness(.9);
}

.cards {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}


.error {
  background: #221515;
  border: 1px solid #FF7070;
}

.container-error {
  margin-top: 1rem;
}

.container-error span {
  color: #FF7070;
}