* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-areas:
  'main-header main-header'
  'main aside'
  'footer footer'
  ;

}

header {
  background-color: #000000;
  width: 100%;
  height: 10vh;
  grid-area: main-header;
}

main {
  /* background-color: bisque; */
  grid-area: main;
  padding: 18px;
  height: 100%;
}
.main__content img {
  width: 100%;
  max-width: 780px;
  height: 400px;
  object-fit: cover;
  margin: 0 auto;
}
.main__content h1 {
  color: #157bad;
}

aside {
  /* background-color: brown; */
  grid-area: aside;
  height: 100%;
  padding: 18px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  
}
aside section {
  display: flex;
}
section.aside__content {
  background-color: #000;
}
aside img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
aside .aside__text {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside .aside__text__item h1{
  color: #157bad;
  margin-bottom: 8px;

}
aside p {
  color: #ccc;
  font-size: 14px;
}
aside .aside__text__item p:nth-child(1) {
  margin-bottom: 8px;
}

footer {
  color: #fff;
  font-size: 10px;
  background-color: #111;
  width: 100%;
  grid-area: footer;
  height: 6vh;

  display: flex;
  align-items: center;
  justify-content:center;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-areas: 
    'main-header'
    'main '
    'aside'
    'footer'
    ;
  }
  section .aside__content {
    padding: 18px;
  }
}

@media (max-width: 482px) {
  .aside__text__item h1 {
    font-size: 16px;
  }
  .aside__text__item p {
    font-size: 11px;
  }
}

@media (max-width: 461px) {
  .aside__text h1, p{
    display: none;
    
  }
  section.aside__content {
    background-color: #fff;
    margin: 0 auto;
  }
}