* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
}

.c-component {
  background-color: cornflowerblue;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation-name: ball;
  animation-duration: 4s;
}

@keyframes ball {
  0% {
    opacity: 0;
    transform: translate(0px);
  }
  100% {
    opacity: 1;
    transform: translate(500px);
  }

}


.c-componen2 {
  margin-top: 200px;
  margin-left: 100px;
  background-color: cornflowerblue;
  width: 150px;
  height: 150px;
  border: 1px solid #888;

  animation-name: color;
  animation-duration: 4s;
  transition: background 0.2s ease-in-out;
}


@keyframes color {
  0% {
    background-color: cornflowerblue;
  }
  50% {
    background-color: rgb(140, 155, 184);
  }
  75% {
    background-color: rgb(100, 237, 207);
  }
  100% {
    background-color: rgb(17, 131, 106);
  }

}


/* ====================== */
.icone-transform img {
  transition: transform 500ms ease-in-out;
}
.icone-transform img:hover {
  transform: scale(1.5);
}

/* ====================== */
.icone-transform2 img {
  margin-top: 150px;
  transition: transform 500ms ease-in-out;
}
.icone-transform2 img:hover {
  transform: rotate(120deg);
}

/* ====================== */
.icone-transform3 img {
  margin-top: 250px;
  transition: transform 500ms ease-in-out; 
}
.icone-transform3 img:hover {
  transform: skew(50deg);
}