body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}
li {
  color: #111; 
  font-size: 1.5rem;
  list-style: none;
}
.container {
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15% auto;
  background-color: #fff;
  padding:20px;
}
.lista {
  width: 540px;
  background-color: #fff;
}
.container form {
  width: 50%;
}
.container form label {
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
}
.container input {
  width: 100%;
  margin-bottom: 5%;
  height: 20px;
}
.container form button {
  padding: 10px; 
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}