.card{
  width: 23rem;
  gap: 1rem;
  padding: 1rem;
  padding-top: 12rem;
  padding-bottom: 17rem;
  /* margin-bottom: 5rem; */
  height: calc(100vh -86px);
}

.cardDark{
  background-color: #31313196;
}

.inputSpacing+.inputSpacing{
  margin: 1rem 0;
}

h1 {
  display: flex;
  gap: 1rem;
  /* align-items: center; */
  justify-content: center;
}

