* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-areas:
  'main-header main-header'
  'main aside'
  'footer footer'
  ;

}

header {
  background-color: #000000;
  width: 100%;
  height: 10vh;
  grid-area: main-header;
}

main {
  /* background-color: bisque; */
  grid-area: main;
  padding: 18px;
  height: 100%;
}
main img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

aside {
  /* background-color: brown; */
  grid-area: aside;
  height: 100%;
  padding: 18px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  
}
aside section {
  display: flex;
}
section.aside-videos {
  background-color: #000;
}
aside img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
aside .infos {
  color: #fff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside .infor-1 h1{
  margin-bottom: 8px;
}
aside p {
  color: dimgray;
  font-size: 14px;
}
aside .infor-2 p:nth-child(1) {
  margin-bottom: 8px;
}

footer {
  color: #fff;
  font-size: 10px;
  background-color: #111;
  width: 100%;
  grid-area: footer;
  height: 6vh;

  display: flex;
  align-items: center;
  justify-content:center;
}