 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline: none;
 }
 
:root {
  --link: hotpink;
}

 h1 {
   margin-bottom: 12px;
 }
 p {
   margin-bottom: 12px;
 }
 .main-paragrafo::first-letter {
  font-size: 32px;
  color: red;
  font-weight: bold;
  margin-right: 12px;
 }
 p:nth-child(4) {
   background-color: #46295A;
 }
 a {
   text-decoration: none;
   /* margin: 12px; */
   position: relative;
   transition: all 0.5s;
 }
 a:hover {
  color: var(--link);
}
a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--link);
  left: 0;
  bottom: -4px;
  position: absolute;

}
a:hover::after {
  width: 100%;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);

}
 .container {
   margin: 18px;
 }
 input {
   margin-bottom: 12px;
   
 }
input:focus {
  background-color: rgba(236, 236, 236, 0.459);
}
 .container {
  max-width: 940px;
  margin: 32px auto;
  border: 1px solid #eee;
}

.custon-buttons {
  margin-top: 12px;
  margin-left: 8px;
}

input[type="checkbox"]:nth-child(1) {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
}
input[type="checkbox"]:checked {
  width: 10px;
  height: 10px;
}

input[type=text]:disabled {
  background: #dddddd;
}
button {
  border-radius: 8px;
}


button[type=submit] {
  color: #fff;
  background-color: #46295A;
  padding:12px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

button[type=submit]:hover {
  filter: brightness(.9);
  font-weight: bold;
  border-radius: 18px;
}

button[type=reset] {
  color: #fff;
  padding:12px;
  background-color: #666;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  
}
button[type=reset]:hover {
  filter: brightness(.9);
  font-weight: bold;
  border-radius: 18px;
}