body {
  background: rgb(233, 233, 233);
  
}

.container {
  max-width: 640px;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 18px;
  margin: 0 auto;
}
.title {
  color: #555;
}
.job-title {
  color: brown; 
}

p  {
  color: #333333;
}

#high {
  background: brown;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
}

footer {
  background: rgb(17, 17, 17);
  color: rgb(189, 189, 189);
  padding: 12px;
}

footer li a {
  text-decoration: none;
  color:rgb(233, 233, 233)
}