.cardDark {
  background-color: #22272E;
  border: 1px solid #5f5f5f;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.favButton{
  width: 100%;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.CardBody{
  width: 100%;
}

/* .title{
  height: 2rem; 
} */

.button {
  width: 100%;
}
.button svg {
  margin-right: 0.75rem;
}