@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

/* ====== HEADER NAV ======= */
header a img {
  width: 250px;
}
header li a.nav-link {
  font-size: 1.25rem;
}
header li a.nav-link:hover {
  color: #E50914 !important;  
}
header button.btn-outline-danger:hover {
  background-color: #E50914 !important;
}
header .btn-login {
  transition: transform 200ms ease-in-out;
}
header .btn-login:hover {
  transform: scale(1.1);
}

/*======= BANNER =========*/
.header-nav {
  width: 100%;
  height: 100vh;
  background-image: 
    linear-gradient(115deg, 
    rgba(5, 5, 5, 0.877),
   rgba(0, 0, 0, 0.856) ), 
    url("./images/banner.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner .banner-text {
   width: 940px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 250px auto; 

}
.banner .banner-text h1 {
  color: #E50914;
  font-size: 4rem;
}

/*======== MAIN CONTENT ======== */
h1#sobre {
  animation-name: fadeIn;
  animation-duration: 2s;
}
img#animation-out{
  animation-name: fadeOut;
  animation-duration: 2s;
}

/*========= CARDS ============= */
.card-filme {
  width: 408px;
  box-shadow: 5px 5px 18px -9px #000000;
  border-radius: 10px;
  transition: transform 200ms ease-in-out;
}
.card-filme:hover {
  transform: scale(1.04)
}
.card-filme img {
  border-radius: 10px 10px 0 0;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}
.card-body {
  font-family: 'Roboto', sans-serif;
}
.card-body p {
  font-size: 13px;
  font-weight: 300;
}

/* FOOTER */
footer {
  font-family: 'Roboto', sans-serif;
  background-color: #171717;
}
.py-5 {
  padding-right: 0!important;
  padding-left: 0!important;
  padding-bottom: 0!important;
}
.footer-text {
  display: flex;
  gap: 0.5rem;  
}
.footer-text p {
  color: rgba(255, 255, 255, 0.384);
  text-align: center;
  font-size: 18px;
}
.feature p {
  color: rgba(255, 255, 255, 0.384);
}
.footer-text svg {
  fill: #E50914;  
  width: 32px; 
  height: 32px;
  transition: transform 300ms ease-in-out;
}
.footer-text svg:hover {
  transform: scale(1.2)
}
footer .feature-icon img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.feature a.icon-social {
  text-decoration: none;  
  margin-right: .5rem;

}
footer .icon-social img {
  transition: transform 300ms ease-in-out;
}
footer .icon-social img:hover {
  transform: scaleX(1.2)
}


/* =========== ANIMAÇÃO ============ */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-200px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translate(300px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}