body {
  max-width: 940px;
  margin: 0 auto;
}

.form-data {  
  padding: 1.5rem;
  background: #F0F2F5;
  border-radius: 6px;
  margin-top: 2rem;
}

.form-data form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-data input {
  height: 25px;
  border-radius: 4px;
}
/* 
.form-data input:nth-child(n+3):nth-child(-n+4) {
  background-color: red;
  width: 90px;


} */

h1 {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding-left: 0;
  
}

li {
  border-top: 1px solid rgb(229, 229, 229);
  height: calc(100% - 6px);
  width: 240px;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 10px -5px;
}

img {
  text-align: center;
}