body {
  max-width: 940px;
  margin: 0 auto;
}

.form-data {  
  padding: 1.5rem;
  background: #F0F2F5;
  border-radius: 6px;
  margin-top: 2rem;
}

.form-data form {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1rem; */
}

.form-data input {
  height: 32px;
  border-radius: 4px;
  padding-left: 0.4rem;
  margin: .4rem;
}

.form-data button {
  height: 38px;
  width: 20%;
  cursor: pointer;
  margin: .4rem .4rem 0;
  /* width: 100%; */
}

h1 {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding-left: 0;
  
}

li {
  border-top: 1px solid rgb(229, 229, 229);
  height: calc(100% - 6px);
  width: 240px;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 10px -5px;
}

img {
  text-align: center;
}

ul li button {
  height: 32px;
  width: 40%;
  margin-right: 0.5rem;
  cursor: pointer;
}